.slideshow {
    height: 114px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    .overlay {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #FFF, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, #FFF);
    }

    & > div {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        background: transparent;
    }

    .images {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
        animation: moveSlideshow 24s linear infinite;
        will-change: transform;
        backface-visibility: hidden;
        perspective: 1000px;
        transform: translateZ(0);
        -webkit-font-smoothing: antialiased;
        
        img {
            flex-shrink: 0;
            max-height: 100%;
            height: auto;
            width: auto;
            object-fit: contain;
        }
    }
}

@keyframes moveSlideshow {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-25%, 0, 0);
    }
}
