.DS_Store
# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
package-lock.json
yarn-error.log
node_modules
.cache/
# Build directory
public/
static/admin/*.bundle.*
.idea/
.python-version
src/content/events.json
src/content/summit.json
src/content/current-release.json
src/content/legal-document.json
src/content/sponsorship-types.json
src/content/sponsored-projects.json
src/content/settings.json
# Local Netlify folder
.netlify
