[build]
  publish = "public"
  command = "npm run build"
  functions = "netlify/functions"

[dev]
  functionsPort = 8888

[build.environment]
  NODE_VERSION = "12.22.0"
  YARN_VERSION = "1.13.0"
  YARN_FLAGS = "--no-ignore-optional"
[[headers]]
  for = "/*"
[headers.values]
  Cache-Control = "public, max-age=0, must-revalidate"
[[redirects]]
  from = "/cloud-typography/fonts.css"
  to = "https://cloud.typography.com/7369076/7111412/css/fonts.css"
  status = 200
[[redirects]]
  from = "/codeofconduct"
  to = "https://www.openstack.org/legal/community-code-of-conduct/"
  status = 302
[[redirects]]
  from = "/trademark"
  to = "https://www.openstack.org/brand/openstack-trademark-policy/"
  status = 302
[[redirects]]
  from = "https://www.osf.dev/*"
  to = "https://openinfra.dev/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://osf.dev/*"
  to = "https://openinfra.dev/:splat"
  status = 301
  force = true
[[redirects]]
  from = "/about/osf-partnerships"
  to = "/about/openinfra-partnerships/"
  status = 301
  force = true
[[redirects]]
  from = "/companies/"
  to = "/members/"
  status = 301
  force = true
[[redirects]]
  from = "/profile"
  to = "/a/profile"
  status = 301
[[redirects]]
  from = "/election"
  to = "/election/2022-individual-director-election"
  status = 301
[[redirects]]
  from = "/election/candidates"
  to = "/election/2022-individual-director-election/candidates"
  status = 301
[[redirects]]
  from = "/election/candidates/gold"
  to = "/election/2022-individual-director-election/candidates/gold"
  status = 301
  force = true
[[redirects]]
  from = "/usersurvey"
  to = "/user-survey"
  status = 301
  force = true
[[redirects]]
  from="/summit/"
  to="https://openinfra.dev/summit/vancouver-2023"
  status=301
[[redirects]]
  from = "/files/OpenInfraSummitBerlin2022-prospectusV2.pdf"
  to = "/files/OpenInfra-Berlin-SUMMIT-2022-prospectus022222.pdf"
  status = 301
  force = true
[[redirects]]
  from = "/files/OpenInfra-Berlin-SUMMIT-2022-prospectus_021622.pdf"
  to = "/files/OpenInfra-Berlin-SUMMIT-2022-prospectus022222.pdf"
  status = 301
  force = true
[[redirects]]
  from="https://summit.openinfra.dev/*"
  to="https://openinfra.dev/summit"
  status=301
  force=true
[[redirects]]
  from="http://summit.openinfra.dev/*"
  to="https://openinfra.dev/summit"
  status=301
  force=true  
[[redirects]]
  from="http://summit.openstack.cn/*"
  to="https://openinfra.dev/summit"
  status=301
  force=true
# Branch Deploy context: all deploys that are not from a pull/merge request or
# from the Production branch will inherit these settings.
[context.branch-deploy.environment]
  GATSBY_IDP_BASE_URL = "https://testopenstackid.openstack.org"
  GATSBY_OAUTH2_CLIENT_ID = "h1wVTVm75TJSmVcKtVXtYeqc-NKqMH86.openstack.client"
  GATSBY_API_BASE_URL = "https://testresource-server.openstack.org"
  GATSBY_SCOPES = "openid profile email address https://testresource-server.openstack.org/members/write/me https://testresource-server.openstack.org/members/read/me https://testresource-server.openstack.org/organizations/read https://testresource-server.openstack.org/organizations/write elections/candidates/nominate elections/candidates/write/me https://testresource-server.openstack.org/me/read https://testresource-server.openstack.org/me/summits/events/schedule/add https://testresource-server.openstack.org/me/summits/events/schedule/delete https://testresource-server.openstack.org/me/summits/events/schedule/shareable/delete https://testresource-server.openstack.org/me/summits/events/schedule/shareable/add me/write https://testresource-server.openstack.org/speakers/write/me https://testresource-server.openstack.org/speakers/read/me"
  GATSBY_SPONSORED_PROJECT_ID = "1"
  GATSBY_BUILD_SCOPES = "https://testresource-server.openstack.org/summits/read"
  GATSBY_OAUTH2_CLIENT_ID_BUILD = "_fJKILOprSj4MYY6~6rhoPJeRT7_5616.openstack.client"
  GATSBY_OAUTH2_CLIENT_SECRET_BUILD = "PFssJ_QNT_YjW9Uuk_dLqK9kx9ke.ndH4zAY-FBc59PzotI.0J18jPYXZ1snTkr4"
  GATSBY_OAUTH_TOKEN_PATH = "/oauth2/token"
# Deploy Preview context: all deploys resulting from a pull/merge request will
# inherit these settings.
[context.deploy-preview.environment]
  GATSBY_IDP_BASE_URL = "https://testopenstackid.openstack.org"
  GATSBY_OAUTH2_CLIENT_ID = "h1wVTVm75TJSmVcKtVXtYeqc-NKqMH86.openstack.client"
  GATSBY_API_BASE_URL = "https://testresource-server.openstack.org"
  GATSBY_SCOPES = "openid profile email address https://testresource-server.openstack.org/members/write/me https://testresource-server.openstack.org/members/read/me https://testresource-server.openstack.org/organizations/read https://testresource-server.openstack.org/organizations/write elections/candidates/nominate elections/candidates/write/me https://testresource-server.openstack.org/me/read https://testresource-server.openstack.org/me/summits/events/schedule/add https://testresource-server.openstack.org/me/summits/events/schedule/delete https://testresource-server.openstack.org/me/summits/events/schedule/shareable/delete https://testresource-server.openstack.org/me/summits/events/schedule/shareable/add me/write https://testresource-server.openstack.org/speakers/write/me https://testresource-server.openstack.org/speakers/read/me"
  GATSBY_SPONSORED_PROJECT_ID = "1"
  GATSBY_BUILD_SCOPES = "https://testresource-server.openstack.org/summits/read"
  GATSBY_OAUTH2_CLIENT_ID_BUILD = "_fJKILOprSj4MYY6~6rhoPJeRT7_5616.openstack.client"
  GATSBY_OAUTH2_CLIENT_SECRET_BUILD = "PFssJ_QNT_YjW9Uuk_dLqK9kx9ke.ndH4zAY-FBc59PzotI.0J18jPYXZ1snTkr4"
  GATSBY_OAUTH_TOKEN_PATH = "/oauth2/token"

