[build]
  publish = "public"
  command = "npm run build"
[build.environment]
  NODE_VERSION = "12.20.1"
  YARN_VERSION = "1.13.0"
  YARN_FLAGS = "--no-ignore-optional"
[[headers]]
  for = "/*"
[headers.values]
  Cache-Control = "public, max-age=360000" 
[[redirects]]
  from = "/cloud-typography/fonts.css"
  to = "https://cloud.typography.com/7369076/7111412/css/fonts.css"
  status = 200
[[redirects]]
  from = "/codeofconduct"
  to = "https://www.openstack.org/legal/community-code-of-conduct/"
  status = 302
[[redirects]]
  from = "/trademark"
  to = "https://www.openstack.org/brand/openstack-trademark-policy/"
  status = 302
[[redirects]]
  from = "https://www.osf.dev/*"
  to = "https://openinfra.dev/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://osf.dev/*"
  to = "https://openinfra.dev/:splat"
  status = 301
  force = true
[[redirects]]
  from = "/about/osf-partnerships"
  to = "/about/openinfra-partnerships/"
  status = 301
  force = true
[[redirects]]
  from = "/companies/"
  to = "/members/"
  status = 301
  force = true  
# Branch Deploy context: all deploys that are not from a pull/merge request or
# from the Production branch will inherit these settings.
[context.branch-deploy.environment]
  GATSBY_IDP_BASE_URL = "https://testopenstackid.openstack.org"
  GATSBY_OAUTH2_CLIENT_ID = "h1wVTVm75TJSmVcKtVXtYeqc-NKqMH86.openstack.client"
  GATSBY_API_BASE_URL = "https://testresource-server.openstack.org"
  GATSBY_SCOPES = "openid profile email address https://testresource-server.openstack.org/members/write/me https://testresource-server.openstack.org/members/read/me https://testresource-server.openstack.org/organizations/read https://testresource-server.openstack.org/organizations/write"
  GATSBY_SPONSORED_PROJECT_ID = "1"