.quote {
  max-width: 335px;

  .text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  .author {
    font-family: Jura, sans-serif;
    font-size: 16px;
    line-height: 32px;
  }

  .authorTitle {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
}
