.affiliations {
  margin-top: 10px;
  margin-bottom: 10px;
  p {
    padding-top: 10px;
  }
  .affiliation-form {
    min-height: 400px;
    background-color: white;
    padding: 20px;
    border: 1px solid #dbdbdb;
    table {
      border: 0;
      td {
        border: 0;
      }
    }
    .dropdown-affiliation {
      font-size: 14px;
      width: 100%;
      background-color: unset;
      color: black;
      &:active {
        border: none;
      }
    }
    .checkbox-affiliation {
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        width: auto !important;
        height: 18px !important;
        margin-top: 0;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .affiliation-datepicker {
      input + div {
        position: fixed;
      }
    }
  }
}
