.community-events-wrapper {
    p {
        color: #161616;
        font-size: 17px;
    }

    h2 {
        margin-top: 35px !important;
        margin-bottom: 20px;
        a {
            font-family: 'Jura', sans-serif;
            color: #E61E24;
            font-weight: 700;
            font-size: 28px;
            text-decoration: underline;
        }
    }
}