.election-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 16px;
  a {
    display: contents;
  }
  i {
    color: #f15b3e;
    margin-left: 10px;
  }
}

.election-message {
  font-size: 14px;
}

.how-to-vote {
  span {
    font-size: 14px;
  }
}

.candidate-tier {
  padding-top: 50px;
}

.candidate-list {
  margin: 30px 0;
  .candidate-wrapper {
    margin-bottom: 30px;
    > img {
      margin-bottom: 10px;
      width: 50px;
    }
    .candidate-nominator {
      border-radius: 3px;
      display: inline-block;
      background-color: #ededed;
      padding: 1px 6px;
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
}

.candidate-form-hero {
  .candidate-form-disclaimer {
    color: #161616;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
  }
}
