/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
  font-size: 20px;
  line-height: 1.25;

  .hero-title {
    font-family: "Jura", "Roboto", sans-serif;
    font-weight: 700;
    color: $primary;
    text-transform: uppercase;
  }
}
/*Hero home*/
.hero-background{
  
	 .hero-body {

    padding: 100px 0 100px 35px;

    @media (min-width: 1440px) {
      padding: 5rem 2rem;
    }
    @media (max-width: $screen-sm-min) {
      padding: 5rem 2rem 2rem;
    }
    @media (max-width:320px) {
      padding: 6rem 2rem 2rem;
    }
    .hero-title {
      @media (max-width: $screen-md-min) {
        font-size: 30px;
      }
    }
  }
}
/* ------------------------------------------------------------ *\
	Hero Intro
\* ------------------------------------------------------------ */
.hero-title,
.hero-project-title{
  max-width: 50%;
  font-size: 42px;
  font-weight: 500;
  @media (max-width: 768px) {
  	max-width: 70%;
    font-size: 30px;
  }
}
.hero-intro {
  .hero-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.hero-title,
.hero-project-title{
  max-width: 50%;
  font-size: 42px;
  font-weight: 500;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}
  .hero-body {
    background-color: white;
  }
  .hero-entry {
    position: relative;
    max-width: 460px;
    padding-left: 36px;
    color: #4a4a4a;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 50px;
      background: #4a4a4a;
    }
  }

  @media (max-width: 767px) {
    .hero-content {
      display: block;
    }

    .hero-body {
      padding: 45px 0;
    }

    .hero-title {
      max-width: 100%;
    }

    .hero-entry {
      max-width: 100%;
      padding-left: 0;
      padding-top: 20px;
      margin-top: 20px;

      &:before {
        top: 0;
        transform: translateY(0%);
        height: 1px;
        width: 100px;
        background: #4a4a4a;
      }
    }
  }
}

/* ------------------------------------------------------------ *\
	Hero Main
\* ------------------------------------------------------------ */

.hero-main {
  text-align: left;
  .hero-title {
    font-size: 40px;
    font-weight: 400;
    color: $white;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  .hero-content {
    width: 40%;
    //margin: 0 auto;
    @media (max-width: $screen-md-min) {
      width: 100%;
    }
  }
}

.hero-link {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 14px;
  color: $white;
  &:hover{
  	text-decoration: underline;
  }
}

/* ------------------------------------------------------------ *\
	Hero Image
\* ------------------------------------------------------------ */

.hero-image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &.is-primary:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .hero-body {
    position: relative;
    z-index: 10;
  }
}

.hero-subhead {
  padding-bottom: 5px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}

.hero-entry {
  font-size: 14px;
  max-width: 350px;
  margin-top: 20px;
}

/* ------------------------------------------------------------ *\
	Hero V2
\* ------------------------------------------------------------ */

.hero-main-v2 {
  padding-bottom: 64px;

  .title {
    font-family: "Jura", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 48px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 65px;
  }

  .subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    opacity: 0.8;
    margin-top: 24px !important;
  }

  .sublabel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    color: #000000;
    margin-top: 24px;
  }

  .actions {
    display: flex;
    margin-top: 10px;

    .button-red {
      align-items: center;
      padding: 12px 30px 13px;
      gap: 10px;
      width: 160px;
      height: 40px;
      background: #E61E24;
      border-radius: 37px;
      margin-right: 20px;
      margin-top:0;

      span {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #FFFFFF;
      }
    }

    .button-white {
      padding: 12px 30px 13px;
      gap: 10px;
      width: 157px;
      height: 40px;
      border: 2px solid #848484;
      border-radius: 37px;
      margin-top:0;

      &:hover{
        text-decoration: underline;
        text-decoration-color: #848484;
        background-color: white;
      }

      span {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #848484;
      }
    }
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      width: 100%;
      margin: 0 auto;
    }
  }

}