.home-v2-hero-wrapper {
    overflow: hidden;
    .hero-body {
        @media screen and (max-width: 600px) {
            padding-top: 50px;
        }
    }
    // background-image: url('/img/homeV2/background-images/hero-background.png');
    background-image:
            linear-gradient(0deg,
              rgba(0,0,0, 1) 35%,
              rgba(0,0,0, 0)), url(
'/img/homeV2/background-images/hero-background.png');
    background-color: #000;
    background-size: auto;
    @media screen and (max-width: 1050px) {
        background-size: auto;
        background-image: linear-gradient(0deg,rgba(0,0,0, 1) 40%, rgba(0,0,0, 0)), url('/img/homeV2/background-images/hero-background.png');
    }
    @media screen and (min-width: 1440px) {
        background-size: contain;
    }
    .hero-content {
        width: 100%;
        margin-top: 0;
    }
    .hero-subhead {
        color: #FFB325;
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        font-weight: 700;
    }
    .hero-title {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        max-width: 75%;
        line-height: 1.2em;
        .header-yellow {
            color: #FFB325;
        }
    }
    .hero-entry {
        font-family: 'Roboto Flex', sans-serif;
        max-width: 685px;
        p {
            line-height: 2em;
            font-family: 'Roboto Flex', sans-serif;
            font-weight: 200;
        }
        a.hero-entry-linux-link,
        .hero-entry-linux-link {
            color: #FFB325 !important;
            font-weight: 700;
            text-decoration: none;
            &:hover {
                color: #FFB325 !important;
                text-decoration: underline;
            }
        }
        a.hero-entry-about-link,
        .hero-entry-about-link {
            color: #FFB325 !important;
            font-weight: 700;
            text-decoration: none;
            &:hover {
                color: #FFB325 !important;
                text-decoration: underline;
            }
        }
    }
    .hero-actions {
        display: flex;
        justify-content: space-between;
        max-width: 520px;
        margin: 40px 0 80px;
        .hero-secondary-btn {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 25px;
            font-family: 'Jura', sans-serif;
            text-align: center;
            display: block;
            font-size: 18px;
            padding-top: 13px;
            height: 50px;
            width: 250px;
            text-transform: uppercase;
            transition: all 0.3s;
            cursor: pointer;
            .secondary-btn-arrow {
                position: relative;
                right: 15px;
                &:after {
                    background-image: url('/img/homeV2/secondary-arrow-white.svg');
                    position: absolute;
                    content: '';
                    right: -30px;
                    top: -3px;
                    height: 30px;
                    width: 30px;
                }
            }
            &:hover {
                color: #fff;
                background-color: #888;
                text-decoration: none;
                border: 1px solid #888;
                // .secondary-btn-arrow {
                //     &:after {
                //         background-image: url('/img/homeV2/secondary-arrow-gray.svg');
                //     }
                // }
            }
        }
        .hero-primary-btn {
            color: #fff;
            background-color: #E61E24;
            border-radius: 25px;
            font-family: 'Jura', sans-serif;
            text-align: center;
            display: block;
            font-size: 18px;
            padding-top: 13px;
            height: 50px;
            width: 250px;
            text-transform: uppercase;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                background-color: #9A0D28;
                text-decoration: none;
            }
        }
        @media screen and (max-width: 600px) {
            display: block;
            .hero-primary-btn,
            .hero-secondary-btn {
                width: 100%;
                margin: 20px 0;
            }
        }
    }
    .home-v2-numbers-box {
        .home-v2-numbers-inner {
            padding: 80px 60px;
            border-radius: 25px;
            margin: 10px;
            &.home-v2-numbers-blue {
                border: 2px solid #28A4DB;
                background-color: rgba(7, 49, 105, .4);
                .home-v2-numbers-title {
                    color: #28A4DB;
                }
            }
            &.home-v2-numbers-green {
                border: 2px solid #39AE4A;
                background-color: rgba(26, 62, 38, .4);
                .home-v2-numbers-title {
                    color: #39AE4A;
                }
            }
            &.home-v2-numbers-yellow {
                border: 2px solid #F4A93A;
                background-color: rgba(117, 57, 11, .4);
                .home-v2-numbers-title {
                    color: #F4A93A;
                }
            }
            &.home-v2-numbers-red {
                border: 2px solid #C5152A;
                background-color: rgba(110, 5, 45, .4);
                .home-v2-numbers-title {
                    color: #C5152A;
                }
            }
            &.home-v2-numbers-gray {
                border: 2px solid #E0E0DF;
                background-color: rgba(224, 224, 223, .4);
                .home-v2-numbers-title {
                    color: #E0E0DF;
                }
            }
            &.home-v2-numbers-light-blue {
                border: 2px solid #7CDFF4;
                background-color: rgba(124, 223, 244, .4);
                .home-v2-numbers-title {
                    color: #7CDFF4;
                }
            }
            .home-v2-numbers-subheading {
                font-family: 'Jura', sans-serif;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .home-v2-numbers-title {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 60px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .home-v2-numbers-subtitle {
                font-family: 'Roboto Flex', sans-serif;
            }
            @media screen and (max-width: 1200px) {
                padding: 80px 35px;
            }
            @media screen and (max-width: 1000px) {
                padding: 30px 18px;
                .home-v2-numbers-title {
                    font-size: 50px;
                }
                .home-v2-numbers-subtitle {
                    font-size: 14px;
                }
                .home-v2-numbers-subheading {
                    font-size: 14px;
                }
            }
            @media screen and (max-width: 768px) {
                min-height: 200px;
                .home-v2-numbers-title {
                    font-size: 32px;
                }
            }
            @media screen and (max-width: 600px) {
                min-height: auto;
                .home-v2-numbers-title {
                    font-size: 32px;
                }
                .home-v2-numbers-subheading {
                    font-size: 16px;
                }
            }
            @media screen and (max-width: 450px) {
                .home-v2-numbers-subheading {
                    font-size: 14px;
                }
            }
            @media screen and (max-width: 400px) {
                padding: 30px 15px;
                .home-v2-numbers-subheading {
                    font-size: 13px;
                }
            }

        }
    }
    .home-v2-numbers-btn-container {
        margin: 50px auto;
        max-width: 152px;
        display: flex;
        justify-content: space-between;
        .numbers-button {
            height: 56px;
            width: 56px;
            border-radius: 50%;
            background-color: #fff;
            color: #111C3C;
            border: none;
            transition: all .5s;
            &:hover {
                box-shadow: 0px 4px 4px rgba(0,0,0,.25);
            }
            img {
                margin: 0 auto;
                display: block;
                height: 15px;
                width: 15px;
                top: calc(50% - 7px);
            }
        }
    }
    @media screen and (min-width: 601px) {
        .hero-slider-container {
            width: 1190px;
        }
    }
}