/* ------------------------------------------------------------ *\
	Hosting page
\* ------------------------------------------------------------ */

.hosting-page {

    @media(max-width: 767px) {
        .container {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
    }

    .section {
        .overview {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .title {
            font-family: 'Jura', 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 48px;
            text-align: center;
            letter-spacing: -0.6px;
            text-transform: uppercase;
        }

        .body {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }

        .actions {
            .button-red {
                align-items: center;
                padding: 12px 30px 13px;
                gap: 10px;
                height: 40px;
                background: #E61E24;
                border-radius: 37px;
                margin-top: 12px;
                max-width: auto;

                span {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 0.3px;
                    color: #FFFFFF;
                }
            }
        }
    }

    .section.building {
        background: #F3F3F3;
        height: auto;
        padding: 70px 0;

        .column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }

        .title {
            color: #000000;
            max-width: 600px;
            align-self: center;
            margin: 0;
        }

        .body {
            text-align: center;
            color: #000000;
            opacity: 0.8;
            max-width: 880px;
            margin-top: 24px;
            align-self: center;

            a {
                color: #E61E24;
                text-decoration: underline;
            }
        }
    }

    .section.our-model {
        .container {
            max-width: 1180px;
        }

        .overview {
            color: #000000;
            opacity: 0.6;
            @media (max-width: 767px) {
                text-align: center;
            }
        }

        .title {
            color: #000000;
            align-self: center;
            margin: 24px 0;
            text-align: left;
            @media (max-width: 767px) {
                text-align: center;
            }
        }

        .body {
            color: #000000;
            opacity: 0.8;
        }

        .caption {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.3px;
            color: #000000;
            margin-top: 12px;
        }

        .actions {
            .button-red {
                margin-top: 12px;
            }
        }
    }

    .section.four-opens {
        background-color: black;
        padding: 80px 0;

        .overview {
            text-align: center;
            color: #FFFFFF;
            opacity: 0.6;
        }

        .title {
            color: #FFFFFF;
            margin: 24px 0 0;
        }

        .body {
            text-align: center;
            color: #FFFFFF;
            opacity: 0.8;
            margin: 24px 0 0;
        }

        .opens-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin: 50px auto;
            max-width: 705px;
            @media (max-width: 767px) {
                flex-wrap: wrap;
                max-width: 70%;
                row-gap: 1rem;
                justify-content: center;
            }

            .open-icon-wrapper {
                text-align: center;
                display: flex;
                flex-direction: column;
                @media (max-width: 767px) {
                    width: 50%;
                }

                .icon {
                    height: 115px;
                    width: auto;

                    img {
                        padding-bottom: 14px;
                    }
                }

                .label {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 0.3px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    @media (max-width: 767px) {
                        white-space: wrap;
                    }
                }
            }
        }

        .link-read-more {
            text-align: center;
            margin-top: 80px;

            a span {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.3px;
                color: #FFFFFF;
                opacity: 0.8;
                margin-right: 20px;
                text-align: center;
            }
        }
    }

    .section.our-network {
        .container {
            padding: 50px 0;
        }

        .overview {
            color: #000000;
            opacity: 0.6;
            margin-bottom: 0;
        }

        .title {
            text-align: left;
            margin-bottom: 24px;
        }

        .body {
            color: #000000;
            opacity: 0.8;

            a {
                color: #E61E24;
                text-decoration: underline;
            }
        }

        .network-image {
            max-width: 100%;
        }

        .second-section {
            margin-top: 30px;
        }

        .sponsors-wrapper {
            width: 100%;
            margin: 80px 0 100px;

            img {
                max-width: 115px;
                margin: 0 30px;
            }
        }

        .link-all-sponsors {
            color: black;
            opacity: 0.8;

            a span {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.3px;
                color: #848484;
                margin-right: 20px;
                text-align: center;
            }
        }
    }

    .section.our-track-record {
        background-color: #F3F3F3;
        margin-bottom: 0;
        padding-bottom: 0;

        .container {
            padding: 50px 0 0;
        }

        .overview {
            color: #000000;
            opacity: 0.6;
        }

        .title {
            text-align: left;
            margin: 24px 0;
        }

        .body {
            color: #000000;
            opacity: 0.8;
        }

        .link-all-projects {
            color: black;
            opacity: 0.8;
            margin: 30px 0 50px;

            a span {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.3px;
                color: #848484;
                margin-right: 20px;
                text-align: center;
            }
        }

        .icons-img {
            position: absolute;
            bottom: 0;
            @media (max-width: 767px) {
                width: 60%;
                margin: 3rem auto 0;
                display: flex;
                position: relative;
            }
        }
    }

    .section.journey {
        background: #EC1944;
        padding: 80px 0 120px;
        position: relative;

        .bgrd-logo {
            position: absolute;
            top: 0;
            left: 0;
        }

        .column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }

        .title {
            color: #FFFFFF;
        }

        .body {
            text-align: center;
            color: #FFFFFF;
            opacity: 0.8;
            max-width: 1020px;
            margin-top: 24px;
            align-self: center;
        }

        .tables-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            @media (max-width: 1200px) {
                flex-wrap: wrap;
            }

            .left-table {
                @media (max-width: 1200px) {
                    width: 100%;
                }

                .table-header {
                    position: relative;
                    height: 68px;

                    .investment {
                        width: 185px;
                        @media (max-width: 767px) {
                            width: 165px;
                            left: 8px;
                            position: relative;
                        }
                    }
                }

                td {
                    vertical-align: middle;
                }
            }

            .right-table {
                @media (max-width: 1200px) {
                    width: 100%;
                }

                .table-header {
                    position: relative;
                    height: 68px;

                    .return {
                        width: 170px;
                        position: absolute;
                        right: 10px;
                        bottom: 18px;
                        @media (max-width: 767px) {
                            width: 150px;
                        }
                    }

                    .openstack {
                        width: 190px;
                        top: 16px;
                        left: 34px;
                        position: relative;
                        @media (max-width: 767px) {
                            left: 8px;
                        }
                    }
                }

                td {
                    width: 50%;
                    vertical-align: middle;
                }
            }

            .separator {
                width: 58px;
                top: 56%;
                position: relative;
                @media (max-width: 1200px) {
                    margin: 5rem auto;
                    transform: rotate(90deg);
                    top: 3%;
                }
            }
        }

        .info-table-wrapper {
            border-radius: 8px;
            box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
            background-color: white;
            padding: 10px 20px;
            width: 532px;
            height: 234px;

            @media(max-width: 1200px) {
                width: 96%;
                margin: 0 auto;
                padding: 10px 2%;
                height: auto;
            }

            .info-table {
                border-collapse: collapse;
                border: none;

                td, th {
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22px;
                    color: #000000;
                }

                td {
                    padding: 20px;
                    border-bottom: none;
                    @media (max-width: 767px) {
                        padding: 10px;
                    }

                    i {
                        font-size: 15px;
                        padding: 0;
                        margin: 0;
                    }

                    span {
                        font-size: 77px;
                        line-height: 90px;
                        font-weight: 800;
                    }
                }

                th:not(:last-child) {
                    border-right: 1px dashed #EC1944;
                }

                th {
                    border-bottom: 1px dashed #EC1944;
                    font-weight: 700;
                }

                td:not(:last-child) {
                    border-right: 1px dashed #EC1944;
                }
            }
        }


    }

    .section.our-focus {
        background-color: black;
        padding: 80px 0;

        .overview {
            color: #FFFFFF;
            opacity: 0.6;
        }

        .title {
            color: #FFFFFF;
            margin: 16px 0 0;
            text-align: left;
        }

        .body {
            color: #FFFFFF;
            opacity: 0.8;
            margin: 24px 0 0;
        }

        .infra-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 50px auto;
            @media (max-width: 767px) {
                flex-wrap: wrap;
                gap: 4rem 3%;
                justify-content: center;
            }

            .separator {
                width: 135px;
                height: 0;
                opacity: 0.4;
                border: 1px dashed #FFFFFF;
                transform: rotate(90deg);
                top: 60px;
                position: relative;
                @media (max-width: 767px) {
                    display: none;
                }
            }

            .infra-icon-wrapper {
                max-width: 200px;
                @media (max-width: 767px) {
                    max-width: 44%;
                }

                .label {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 19px;
                    letter-spacing: 0.3px;
                    color: #FFFFFF;
                    display: block;
                    text-align: left;
                    white-space: unset;
                    margin-top: 14px;
                    padding: 0;
                }
            }
        }

        .actions {
            margin-top: 40px;
        }
    }

    .section.our-services {
        background-color: #F3F3F3;

        .container {
            padding: 50px 0;
        }

        .overview {
            color: #000000;
            opacity: 0.6;
        }

        .title {
            text-align: left;
            margin: 24px 0;
            max-width: 638px;
        }

        .body {
            color: #000000;
            opacity: 0.8;
            max-width: 638px;
        }

        .link-all-projects {
            color: black;
            opacity: 0.8;
            margin-top: 30px;

            a span {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.3px;
                color: #848484;
                margin-right: 20px;
                text-align: center;
            }
        }

        .checklist-box {
            background: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);

            .checklist-box-title {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                height: 74px;
                background: #45B65C;
                padding: 30px;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                @media (max-width: 991px) and (min-width: 768px) {
                    padding: 15px 23px;
                    font-size: 16px;
                }
            }

            .checklist-box-body {
                padding: 22px 30px;
                @media (max-width: 991px) and (min-width: 768px) {
                    padding: 20px;
                }

                .checklist-box-subtitle {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 21px;
                    color: #000000;
                    opacity: 0.8;
                    @media (max-width: 991px) and (min-width: 768px) {
                        font-size: 14px;
                    }
                }

                .check-item {
                    margin-bottom: 10px;

                    img {
                        margin-right: 15px;
                    }

                    span {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: 0.3px;
                        color: #000000;
                        @media (max-width: 991px) and (min-width: 768px) {
                            font-size: 11px;
                        }
                    }
                }

                .button-green {
                    align-items: center;
                    padding: 12px 30px 13px;
                    gap: 10px;
                    height: 35px;
                    background: #45B65C;
                    border-radius: 37px;
                    margin-top: 12px;

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: white;
                    }

                    span {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.3px;
                        color: #FFFFFF;
                    }
                }

                .annual-report-item {
                    margin-bottom: 10px;

                    .annual-report-link {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: 0.3px;
                        color: #000000;
                        text-decoration: none;
                        display: block;
                        transition: color 0.2s ease;

                        &:hover {
                            color: #45B65C;
                            text-decoration: underline;
                        }

                        @media (max-width: 991px) and (min-width: 768px) {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}
