/* ------------------------------------------------------------ *\
    Keynotes Promo Banner
\* ------------------------------------------------------------ */

.live-keynotes-promo-v2 {
  margin-top: 60px;
  width: 100%;
  background-color: black;
  position: relative;

  .live-kp-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 15px 60px 15px;
    align-items: center;
  }

  @media (max-width: 767px) {
    .live-kp-container {
      flex-direction: column;
      max-height: unset !important;
    }
  }
  
.text {
  margin: 0 15px;
}

  @media (max-width: 767px) {
    .text {
      margin: 0 15px 0 15px;
    }
  }
  
  .text-area {
    order: 1;
    width: 50%;
    display: flex;
    align-content: center;
  }

  @media (max-width: 767px) {
    .text-area  {
      text-align: center;
      order: 2;
      width: 100%;
      margin: 0 30px 0 30px;
    }
  }

  .image-area {
    order: 2;
    width: 50%;
  }

  @media (max-width: 767px) {
    .image-area {
      order: 1;
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .upper-title {
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.6;
    
  }

  .title {
    font-family: Jura;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.6px;
    margin-top: unset !important; 
    padding-top: 15px; 
    color: white;
  }

  @media (max-width: 767px) {
    .buttons-row {
      margin-top: 15px;
    }
  }

  .med-button-red {
    height: 40px;
    color: white;
    background-color: #e61e24;
    border-radius: 23px;
    border: 0px;
    margin-right: 30px;
    font-size: 12px;
    padding: 0 30px 0 30px;
    transition: background 0.3s;
  }
  
  .med-button-red:hover {
    background-color:#9a0c28
  }

  @media (max-width: 767px) {
    .med-button-red {
      font-size: 17px;
    }
  }

  .med-button-nobg {
    height: 40px;
    color: white;
    background-color: unset;
    border-radius: 23px;
    border: 0px;
    margin-right: 30px;
    font-size: 12px;
    padding: 0 30px 0 30px;
    transition: opacity 0.3s;
  }

  .med-button-nobg:hover {
    opacity: 0.8;
  }

  @media (max-width: 767px) {
    .med-button-nobg {
      font-size: 17px;
    }
  }
  
  .cta-arrow {
    margin-left: 10px;
  }

  .diagonal-bg-container {
    order: 3;
    position: relative;
    z-index: 0;
    width: 100%;
    max-height: 100%;
    margin-top: -58%;
    overflow: hidden;
  }

  .diagonal-bg {
    overflow: auto;
    order: 3;
  }

}

@media (max-width: 767px) {
  .live-keynotes-promo-v2 {
    max-height: unset;
  }
}

.promo-para {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.dates-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f7b84a;
}

@media (max-width: 767px) {
  .dates-row {
    justify-content: center;
  }
}

.cal-icon {
  margin-right: 10px;
  width: 17px;
}

.promo-dates {
  font-size: 17px;
  color: #f7b84a !important;
}

@media (max-width: 767px) {
  .promo-dates {
    font-size: 15px;
  }
}