.profile_form {
  .info {
    margin: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 0 !important;
  }
  .warning {
    color: #ff9800 !important;
  }
}

.candidate-profile-wrapper {
  margin: 5px 0;
  .candidate-profile-header {
    display: flex;
    align-items: center;
    button {
      margin-left: 5px;
    }
  }
  .candidate-profile-section {
    span {
      display: block;
    }
    button {
      margin: 10px 10px 0 0;
    }
  }
}
.candidate-profile-form {
  h2 {
    margin-bottom: 15px;
  }
  .candidate-profile-item {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
      font-weight: bold;
    }    
    .candidate-profile-editor {
      width: 60%;
      min-height: 150px;
      margin-bottom: 35px;
    }
  }
}

@media screen and (max-width: 768px) {
  .candidate-profile-form {
    .candidate-profile-editor {
      width: 100%;
    }
  }
}
