/* ------------------------------------------------------------ *\
    PROJECTS
\* ------------------------------------------------------------ */

// ############ project hero

.project-background {
  background-size: cover;
  min-height: unset;
  overflow: visible;
}

.hero-project-content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;

  .hero-project-title {
    color: #161616;
    font-size: 35px;
    font-family: "Jura", "Helvetica", sans-serif;
    margin-top: 40px;
  }

  .hero-project-entry {
    color: #161616;
    text-align: center;
    max-width: 700px;
    font-size: 17px;
  }
}

.hero-project-news {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: baseline;

  .hero-project-title {
    color: #161616;
    font-size: 35px;
    font-family: "Jura", "Helvetica", sans-serif;
    margin-top: 40px;
  }

  .hero-project-entry {
    color: #161616;
    text-align: center;
    max-width: 700px;
    font-size: 17px;

    span:first-of-type {
      margin-right: 20px;
    }
    span {
      opacity: 0.3;
      cursor: pointer;
    }
    span.active {
      opacity: 1;
    }
  }
}

.hero-project-content2 {
  margin-top: 30px;

  .hero-project-title {
    color: $white;
    font-size: 25px;
  }
}

// ############ projects section 1

.projects-s1-main {
  color: $white;
  text-align: center;

  .itemtitle {
    font-family: "Jura", "Roboto", sans-serif;
    color: #161616;
    margin-top: 60px;
    margin-bottom: 10px;
  }
}

.itemtitle-hr {
  background-color: #888888;
  margin: 0 auto;
  width: 100px;
  margin-top: 30px;

}

.projects-s1-container {
  background-color: $white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
  width: 95%;
  margin: 30px auto;

  @media (max-width: $screen-md) {
    //small screen
    width: unset;
    margin: unset;
    margin-top: 20px;
    padding-top: 50px;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}

.projetcs-s1-container-child {
  margin-top: 30px;
  color: #161616;
  margin-bottom: 30px;
  padding-bottom: 50px;

  h2 {
    color: #161616;
  }

  h3 {
    color: #161616;
    font-size: 16px;
  }

  p {
    color: #161616;
  }

  .columns {
    margin-top: 30px;

    .column {
      padding: 0 2em;

      p {
        color: #161616;
        font-size: 14px;

        img {
          max-width: 30px;
          margin-right: 7px;
        }
      }

      &:last-child {
        border-left: 2px solid $back-darkest;

        @media (max-width: 776px) {
          border-left: none;
          margin-top: 2em;
        }
      }

      a {
        color: $back-darkest;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: $screen-md) {
    //small screen
    margin-top: unset;
  }

  @media (max-width: $screen-sm-min) {
    padding-left: 1em;
    padding-right: 1em;
  }

  .is-6 {
    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }
}

#projects-s2-h3 {
  color: #65c7c2;
}

#projects-s2-btn {
  background-color: #65c7c2;
  color: $white;
  border: 0 !important;

  &:hover {
    background-color: darken(#65c7c2, 20%);
    border: 0 !important;
  }
}

#projects-s3-h3 {
  color: #f05c3f;
}

#projects-s3-btn {
  background-color: #f05c3f;
  color: $white;
  border: 0 !important;

  &:hover {
    background-color: darken(#f05c3f, 20%);
    border: 0 !important;
  }
}

#projects-s4-h3 {
  color: #685bc7;
}

#projects-s4-btn {
  background-color: #685bc7;
  color: $white;
  border: 0 !important;

  &:hover {
    background-color: darken(#685bc7, 20%);
    border: 0 !important;
  }
}

#projects-s5-h3 {
  color: #071d49;
}

#projects-s5-btn {
  background-color: #071d49;
  color: $white;
  border: 0 !important;

  &:hover {
    background-color: darken(#071d49, 20%);
    border: 0 !important;
  }
}

#projects-s6-btn {
  background-color: #EC8A42;
  color: $white;
  border: 0 !important;

  &:hover {
    background-color: darken(#071d49, 20%);
    border: 0 !important;
  }
}

.button-white {
  border: 0px;
  color: #161616;

  &:hover {
    background-color: #e61e24;
    border: 0;
    color: #161616;
    color: white;
  }
}

// ############ projects section 2

.projects-s2-main,
.companies-s2-main {
  margin-top: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  color: $white;
  background-color: #28a4db;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    max-width: 850px;
  }

  p.overview {
    font-family: "Jura", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    max-width: unset;
  }

  h3.itemtitle {
    font-family: "Jura", "Roboto", sans-serif;
    color: #28a4db;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-transform: uppercase;
  }

  h4.itemtitle {
    font-family: "Jura", "Roboto", sans-serif;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-transform: uppercase;
  }


  .fix-h5 {
    color: white;
    color: black;
  }

  p {
    max-width: 500px;
  }
}

.projects-s2-main-v2 {
  margin-top: 0;
  padding-top: 82px;
  padding-bottom: 110px;
  color: black;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    max-width: 930px;
  }

  p.overview {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    opacity: 0.6;
  }

  h4.itemtitle {
    font-family: "Jura", "Roboto", sans-serif;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-top: 16px;
  }

  div.fix-h5 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: black;
    opacity: 0.8;
  }

  .projects-btn {
    margin: 46px auto 0;
    padding: 12px 30px 13px;
    gap: 10px;
    background: #E61E24;
    border-radius: 37px;
    width: 230px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    color: white;
  }
}

.projetcs-s1-container-child {
  color: #161616;

  .button-red {
    width: 100%;

    &.projects-btn {
      margin-top: 0;
    }
  }
}

.projects-s1-main {
  margin-bottom: 1.7em;
}