.ptg-header {
  flex-wrap: wrap;
  .header-right {
    flex: 1;
    .ptg-logo {
      max-width: 70%;
      margin: 2rem 0;
      img {
        max-width: 100%;
      }
    }
    .description {
      font-size: 18px;
      line-height: 20px;
    }
    .ptg-two-event-text {
      font-weight: bold;
      font-size: 20px;
      margin-top: 20px;
    }
    .date {
      margin-top: 14px;
    }
    .date,
    .location {
      font-family: "Roboto";
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: #161616;
      margin-bottom: 14px;
    }
    .buttons {
      margin-top: 14px;
      a:last-of-type {
        width: 198px;
        img {
          filter: invert(61%) sepia(5%) saturate(90%) hue-rotate(315deg)
              brightness(84%) contrast(86%);
        }
      }
    }
  }
  .header-left {
    flex: 1;
    .picture {
      img {
        max-height: 450px;
        width: auto;
        z-index: 1;
        @media (max-width: 767px) {
          max-height: 300px;
        }
      }
    }
  }
  .ptg-header-bottom {
    width: 100%;
    flex-basis: 100%;
    padding-bottom: 30px;
    .ptg-header-bottom-container {
      display: flex;
      .ptg-header-bottom-left {
        width: 50%;
        position: relative;
        &:after {
          content: '';
          right: 35px;
          top: 10%;
          height: 80%;
          width: 2px;
          background-color: #eee;
          position: absolute;
        }
      }
      .ptg-header-bottom-right {
        width: 50%;
      }
      @media screen and (max-width: 1120px) {
        display: block;
        .ptg-header-bottom-left {
          width: 100%;
          margin-bottom: 20px;
          &:after {
            content: '';
            right: unset;
            bottom: -25px;
            left: 0;
            top: unset;
            height: 2px;
            width: 300px;
            background-color: #eee;
            position: absolute;
          }
        }
        .ptg-header-bottom-right {
          width: 100%;
          margin-top: 35px;
        }
      }
    }
    span {
      display: inline-block;
      width: 100%;
      font-size: 20px;
    }
    p {
      color: #161616;
    }
    .buttons {
      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 30px 13px;
        height: 40px;
        border-radius: 37px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.3px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px 20px 0;
        white-space: nowrap;
        color: #fff;
        background: #e61e24;
        border-color: #e61e24;
        margin-right: 20px;
        width: 198px;
        &:hover {
          background-color: #9a0c28;
          border-color: #9a0c28;
          color: #fff;
        }
        img {
          filter: none !important;
          margin-left: 10px;
        }
      }
      &.ptg-bottom-left-buttons {
        a {
          background-color: transparent;
          color: #888;
          border: 2px solid #888;
          img {
            filter: invert(61%) sepia(5%) saturate(90%) hue-rotate(315deg) brightness(84%) contrast(86%) !important;
          }
          &:hover {
            background-color: #888;
            border-color: #888;
            color: #fff;
            img {
              filter: none !important;
            }
          }
        }
      }
    }
    .ptg-header-bottom-title {
      color: #161616;
      font-weight: bold;
    }
    .ptg-two-event-text {
      font-weight: bold;
      font-size: 24px;
      margin-top: 20px;
      color: #161616;
      margin-bottom: 20px;
    }
    .date {
      margin-top: 10px;
    }
    .date,
    .location {
      font-family: "Roboto";
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #161616;
      margin-bottom: 10px;
    }
    .buttons {
      margin-top: 10px;
      a:last-of-type {
        width: 198px;
        img {
          filter: invert(61%) sepia(5%) saturate(90%) hue-rotate(315deg)
              brightness(84%) contrast(86%);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ptg-header {
    flex-direction: column;
    .header-right {
      order: 2;
    }
    .header-left {
      order: 1;
    }
    .ptg-header-bottom {
      order: 3;
    }
  }
}
.ptg-who {
  background: #F3F3F3;
  padding: 60px 120px;
  color: black;
  position: relative;
  @media (max-width: 767px) {
    padding: 3rem 20px;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .ptg-who-teams {
    margin-bottom: 70px;
    .title {
      font-size: 28px;
      font-weight: 800;
      font-family: "Jura", "Roboto", sans-serif;
      margin-top: 26px;
      text-transform: none;
    }
    .ptg-who-teams-list {
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        li {
          width: 25%;
        }
        @media screen and (max-width: 1100px) {
          flex-basis: 100%;
          li {
            width: 50%;
          }
        }
        @media screen and (max-width: 560px) {
          flex-basis: 100%;
          li {
            width: 100%;
          }
        }
      }
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 25px;
      justify-content: space-between;
      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        // @media screen and (max-width: 1100px) and (min-width: 561px) {
        //   &:nth-child(1) {
        //     order: 1;
        //     flex-basis: 60%;
        //   }
        //   &:nth-child(2) {
        //     order: 3;
        //     flex-basis: 60%;
        //   }
        //   &:nth-child(3) {
        //     order: 2;
        //     flex-basis: 40%;

        //   }
        //   &:nth-child(4) {
        //     order: 4;
        //     flex-basis: 40%;
        //   }
        // }
        li {
          text-decoration: none;
          margin: 0 0 15px 0;
        }
      }
    }
  }
  .ptg-who-boxes {
    display: flex;
    flex-direction: row;
    color: black;
    gap: 3rem;
    @media screen and (max-width: 768px) {
      display: block;
    }
    .should {
      @media screen and (max-width: 768px) {
        margin-bottom: 3rem;
      }
    }
  }
  .should, .shouldnot {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex: 1 0 50%;
    background: white;
    padding: 3rem;
    border-radius: 8px;
    .top {
      border-bottom: 3px solid black;
      margin: 0 0 3rem;
      padding-bottom: 2rem;
      h4 {
        margin-top: 0;
        font-size: 28px;
        font-weight: 800;
        font-family: "Jura", "Roboto", sans-serif;
        text-transform: none;
        img {
          height: 25px;
          margin-right: 2rem;
        }
      }
    }
    h5 {
      margin-top: 0;
    }
  }
  .should {
    .top {
      border-color: #45B65C;
      h4 {
        color: #45B65C;
      }
    }
  }
  .shouldnot {
    .top {
      border-color: #EC3830;
      h4 {
        color: #EC3830;
      }
    }
  }
  .multi-color-border {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.summit-form-container.ptg {
  .title-desktop {
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .description {
    margin-bottom: 2rem;
    @media (max-width: 768px) {
      text-align: center;
    }
    a {
      color: white;
      text-decoration: underline;
    }
  }
  @media (min-width: 768px) {
    .description-mobile {
      display: none;
    }
  }
}

.ptg-description-link {
  color: #E61E24;
  text-decoration: underline;
  &:hover {
    color: #E61E24;
  }
}

.ptg-header {
  .location {
    a {
      color: #E61E24;
      text-decoration: underline;
      text-underline-offset: 3px;
      span {
        color: #E61E24;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
    }
  }
}

.subnav-bar .subnav-dropdown .links-list li a.active {
  color: #222;
  opacity: 1;
}

.ptg-header .header-right .buttons a:last-of-type img {
  filter: none;
}

.ptg-container {
  @media screen and (min-width: 1400px) {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.ptg-header {
  @media screen and (min-width: 1400px) {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.summit-form-container.ptg {
  @media screen and (min-width: 1400px) {
    max-width: 1170px;
    margin: 0 auto;
  } 
}

.subnav-bar-ptg {
  .subnav-dropdown .links-list li a {
    opacity: 1;
  }
  #links-list {
    .link.registration {
      padding: 5px 15px;
    }
  }
  #ptg-registration-link {
    background-color: #161616;
    opacity: 1;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
  }
  .link-dropdown-option {
    background-color: #f3f3f3 !important;
  }
  .link-dropdown.registration {
    width: auto !important;
    padding-bottom: 0 !important;
  }

  .container .links-list li .dropdown-options {
    right: -10px;
    left: unset;
    top: 22px;
  }
}