/* ------------------------------------------------------------ *\
	Services
\* ------------------------------------------------------------ */

.services-page {
	.hero-main-v2 {
		.image-wrapper {
			padding-top: 60px;
			justify-content: end;

			.image {
				max-width: 530px;
				margin: 0;
			}
		}
	}

	.section.quotediv {
		background-color: #F3F3F3;
		padding: 70px 0 44px;

		.column {
			display: flex;
			justify-content: center;
		}

		.start-quote,.end-quote {
			font-family: 'Georgia', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 120px;
			line-height: 0px;
			text-align: center;
			color: #C4C4C4;
			opacity: 0.8;
			height: 50px;
			position: relative;
		}

		.start-quote {
			top: 36px;
		}

		.end-quote {
			transform: rotate(180deg);
			top: -72px;
		}

		.body {
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 30px;
			text-align: center;
			color: #000000;
			opacity: 0.8;
			max-width: 880px;

			p {
				margin-bottom: 30px;
			}

			i {
				display: block;
				border: none;
				padding: 0;
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 5px;
			}
		}
	}

	.section.approach {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		color: #000000;
		font-size: 20px;
		line-height: 30px;
		border-bottom: 1px solid #C4C4C4;
		padding-bottom: 110px;

		.title {
			font-weight: 700;
			color: #000000;
			opacity: 0.8;
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 5px;
		}

		.body {
			color: #000000;
			opacity: 0.8;
			font-size: 20px;
			line-height: 30px;
		}

		.sub-body {
			color: #000000;
			opacity: 0.8;
			font-size: 20px;
			line-height: 30px;
		}

		.boxes {
			margin-top: 50px;
			display: flex;
			justify-content: space-between;

			@media (max-width: 767px) {
				flex-direction: column;
			}

			.left-col,.right-col {
				max-width: 45%;

				@media (max-width: 767px) {
					max-width: 100%;
				}
			}

			.icon-box {
				margin-bottom: 40px;

				@media (max-width: 767px) {
					text-align: center;
				}

				img {
					margin-bottom: 20px;
				}

				p {
					font-weight: 700;
					color: #000000;
					opacity: 0.8;
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 5px;
				}

				ul {
					padding-left: 36px;
					margin-top: 0;
					text-align: left;

					@media (max-width: 767px) {
						max-width: 600px;
						margin: 20px auto 0;
					}

					li {
						color: #000000;
						opacity: 0.8;
						font-size: 20px;
						line-height: 30px;
						padding-left: 5px;
					}
				}
			}
		}

		.more {
			margin-top: 40px;

			a {
				color: #E61E24;
				text-decoration: underline;
			}
		}

	}
}