/* ------------------------------------------------------------ *\
	Social Links
\* ------------------------------------------------------------ */

.social-div {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
  }
  
  .upper-title {
	color: #000000;
	font-weight: bold;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	opacity: 0.6;
  }

.social-icon-contact {
    height: 24px;
    margin: 30px 10px 30px 10px;
  }