.subnav-bar {
  width: 100%;
  background-color: #f3f3f3;
  color: #161616;
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  .active, .link:hover {
    color: #888888;
    opacity: 1;
  }
  .container {
    max-width: 1170px;
    width: auto;
    padding: 13.6px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      margin: 0 30px;
      padding: 13.6px 0;
    }
    .location {
      font-size: 14px;
      font-weight: normal;
      color: #888888;
    }
    .links-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      @media (max-width: 768px) {
        display: none;
      }
      li {
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        margin-left: 30px;
        a {
          color: #888888;
          opacity: .6;
          font-size: 13px;
        }
        a.active, .link:hover {
          color: #888888;
          opacity: 1;
        }
      }
    }
  }
  .mobile-subnav-menu {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 500;
      font-size: 13px;
      color: #888888;
      opacity: .6;
      text-transform: uppercase;
      user-select: none;
      cursor: pointer;
    }
    i {
      margin-bottom: 2px;
    }
  }
  .mobile-subnav-menu:hover {
    opacity: 1;
  }
  .active-page {
    display: none;
    @media (max-width: 768px) {
      opacity: 1;
      display: flex;
      flex-direction: row;
    }
  }
  .subnav-dropdown {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: #F3F3F3;;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
      .links-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 15px 0 15px 0;
      margin: 0 30px;
      li {
        width: 100%;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        padding: 15px 0 15px 0;
        a {
          color: #888888;
          opacity: .6;
          font-size: 13px;
        }
        a.active, .link:hover {
          color: #888888;
          opacity: 1;
        }
      }
    }
    @media (max-width: 768px) {
      display: unset;
    }
  }
}