.subnav-bar {
  width: 100%;
  background-color: #f3f3f3;
  color: #161616;
  padding: 0;
  @media (max-width: 768px) {
    padding: unset;
  }
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  .active,
  .link:hover {
    color: #888888;
    opacity: 1;
  }
  .container {
    max-width: 1170px;
    width: auto;
    padding: 13.6px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &::before,
    &::after {
      display: none !important;
    }
    @media (max-width: 768px) {
      margin: 0 30px;
      padding: 13.6px 0;
    }
    .location {
      a {
        font-size: 14px;
        font-weight: 500;
        color: #888888;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: #888888;
      }
    }
    .links-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      @media (max-width: 768px) {
        display: none;
      }
      &.location {
        @media (max-width: 768px) {
          display: block;
        }
      }
      li {
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        margin-left: 30px;
        position: relative;
        white-space: nowrap;
        &:first-of-type {
          margin-left: 0;
        }
        @media (min-width: 769px) and (max-width: 1200px) {
          margin-left: 10px;
        }
        a {
          color: #222;
          opacity: 0.6;
          font-size: 13px;
        }
        a.active,
        .link:hover {
          color: #222;
          opacity: 1;
          text-decoration: none;
          cursor: pointer;
        }
        .registration {
          background-color: #161616;
          opacity: 1;
          color: #ffffff;
          text-decoration: none;
          padding: 5px 15px;
          &:hover {
            color: #ffffff;
          }
        }
        .dropdown-options {
          position: absolute;
          top: 32px;
          left: 10px;
          padding: 20px;
          margin-top: 20px;
          background-color: #f1f1f1;
          opacity: 1;
          z-index: 100000;
          width: auto;
          min-width: 200px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          border: 1px solid #c9c9c9;
          a {
            opacity: 0.6;
            margin: 10px 0;
            text-align: left;
            &:hover {
              color: #222;
              opacity: 1;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .mobile-subnav-menu {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 500;
      font-size: 13px;
      color: #888888;
      opacity: 0.6;
      text-transform: uppercase;
      user-select: none;
      cursor: pointer;
    }
    i {
      margin-bottom: 2px;
    }
  }
  .mobile-subnav-menu:hover {
    opacity: 1;
  }
  .active-page {
    display: none;
    @media (max-width: 768px) {
      text-transform: capitalize;
      opacity: 1;
      display: flex;
      flex-direction: row;
    }
  }
  .subnav-dropdown {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: #f3f3f3;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    .links-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 15px 0 0 0;
      margin: 0 30px;
      li {
        width: 100%;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        padding: 15px 0 15px 0;
        a {
          color: #888888;
          opacity: 0.6;
          font-size: 13px;
        }
        .link:hover {
          color: #888888;
          opacity: 1;
        }
      }
      .link-dropdown {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
      }
      a.link-dropdown-parent {
        padding-bottom: 15px;
      }
      a.link-dropdown-option {
        background-color: #ffffff;
        padding: 15px 0;
        margin: 0 -30px 0;
      }
      .registration {
        background-color: #161616;
        opacity: 1;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 15px;
        &:hover {
          color: #ffffff;
        }
      }
    }
    @media (max-width: 768px) {
      display: unset;
    }
  }
}
