/* ------------------------------------------------------------ *\
	Header Image
\* ------------------------------------------------------------ */

.subheader_wrapper {
  background-size: cover;
  background-position: center;
  color: black;

  .container {
    background-color: #EEEEEE;
    border-radius: 16px;
    height: 100%;
    position: relative;
    top: -50px;
    padding: 0;
    overflow: hidden;

    @media(min-width: 767px) {
      top: -80px;
    }

    @media(min-width: 1024px) {
      top: -150px;
    }

    .body {
      margin: 25px 10px 80px;
      text-align: center;
      font-size: 16px;
      font-family: 'Roboto Flex', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;

      @media(min-width: 767px) {
        margin: 55px 50px 100px;
      }

      @media(min-width: 1024px) {
        margin: 55px 50px 300px;
      }

      .overview {
        text-transform: uppercase;
        font-family: "Jura", "Helvetica", sans-serif;
        font-weight: 500;
        font-size: 16px;

        @media(min-width: 767px) {
          font-size: 18px;
        }

        @media(min-width: 1024px) {
          font-size: 24px;
        }
      }

      .title {
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        max-width: 500px;
        margin: 30px 0;


        @media(min-width: 767px) {
          font-size: 32px;
          line-height: 38px;
        }

        @media(min-width: 1024px) {
          font-size: 48px;
          line-height: 54px;
        }

        .red {
          color: #ED362F;
        }
      }

      p {
        max-width: 840px;
        margin-bottom: 45px;
      }
    }

    .badge {
      width: 110px;
      background-color: transparent;
      padding: 0;
      margin: 0;
      display: block;

      @media(min-width: 767px) {
        width: 150px;
      }

      @media(min-width: 1024px) {
        width: 190px;
      }
    }

    .footer_image {
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
