.summit-header {
  padding: 55px 120px;
  display: flex;
  justify-content: center;
  .header-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    span {
      display: inline-block;
    }
    .upper-title {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
      opacity: 0.6;
      margin-bottom: 24px;
    }
    .title {
      font-family: "Jura";
      font-weight: bold;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: -0.6px;
      color: #161616;
    }
    .description {
      font-family: "Roboto";
      font-size: 20px;
      line-height: 30px;
      color: #161616;
      opacity: 0.8;
      margin-bottom: 24px;
    }
    .date,
    .location {
      font-family: "Roboto";
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: #161616;
      margin-bottom: 14px;
    }
    .cta-wrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    .button-cta {
      width: fit-content;
      margin: 15px 0 0 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 30px 13px;
      height: 44px;
      background: #e61e24;
      border-radius: 37px;
      font-family: "Roboto";
      font-weight: bold;
      font-size: 12px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.3px;
      color: #ffffff;
      flex: none;
      order: 0;
      flex-grow: 0;
      &.outline {
        background-color: transparent;
        color: #e61e24;
        border: 1px solid #e61e24;
      }
      &:hover {
        background-color: #9a0c28;
        border-color: #9a0c28;
        color: white;
      }
      img {
        margin-left: 10px;
      }
      @media (max-width: 768px) {
        margin-bottom: 60px;
      }
    }
  }
  .header-right {
    width: 50%;
    max-width: 637px;
    padding-left: 20px;
    margin: 0 -30px 60px 0;

    .hero-video {
      top: 58px;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;

      @media (max-width: 768px) {
        top: unset;
      }
    }
    .hero-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .picture {
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.summit-form {
  padding: 0 120px 60px;
  &-container {
    background: #161616;
    border-radius: 15px;
    padding: 50px 120px 60px;
    display: flex;
    flex-direction: column;
    span {
      display: inline-block;
    }
    .title-desktop {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 25px;
      line-height: 36px;
      text-align: left;
      color: #ffffff;
      margin-bottom: 45px;
    }
    .title-mobile {
      display: none;
    }
    .form-columns {
      display: flex;
      .form-left {
        width: 50%;
        padding-right: 15px;
        display: flex;
        align-items: center;
        img {
          border-radius: 15px;
        }
      }
      .form-right {
        width: 50%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div {
          margin-bottom: 30px;
          display: flex;
          justify-content: space-between;
          &:first-of-type {
            .form-input {
              display: inline-block;
              width: 47%;
            }
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        .form-input {
          font-family: "Roboto";
          font-weight: 300;
          font-size: 12px;
          line-height: 162.5%;
          display: flex;
          align-items: center;
          color: #ffffff;
          background: rgba(170, 170, 170, 0.2);
          height: 60px;
          width: 100%;
          padding-left: 16px;
          border: none;
          &::placeholder {
            color: #aaaaaa;
            opacity: 0.3;
          }
          &:active,
          &:focus {
            border: none;
          }
        }
        .form-cta {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 30px 13px;
          background: #e61e24;
          border-radius: 60px;
          font-family: "Roboto";
          font-weight: bold;
          font-size: 12px;
          line-height: 19px;
          text-align: center;
          letter-spacing: 0.3px;
          color: #ffffff;
          width: 170px;
          height: 44px;
          &:hover {
            background-color: #9a0c28;
            border-color: #9a0c28;
          }
          img {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.summit-topics {
  background: #f3f3f3;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  span {
    display: inline-block;
  }
  .title {
    font-family: "Jura";
    font-weight: bold;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.6px;
    color: #161616;
  }
  .icons {
    margin: 42px -15px 0 -15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .summit-icon {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      margin-bottom: 25px;
      width: 105px;
      &:last-of-type {
        margin-right: 0;
      }
      span {
        margin-top: 8px;
        font-family: "Roboto";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #161616;
      }
    }
  }
}

.sponsorship-levels {
  padding: 60px 120px 0 120px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 50px 30px 0 30px;
  }

  span {
    display: inline-block;
  }
  .title {
    font-family: "Jura";
    font-weight: bold;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.6px;
    color: #161616;

    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 36px;
    }
  }
  .subhead {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    color: #161616;
    margin-top: 40px;
    text-align: center;
  }
  .description {
    font-family: "Roboto";
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    opacity: 0.8;
    margin-top: 30px;
    text-align: center;
  }
}

table.sponsor-table {
  width: 100%;
  margin: 48px 0 0 0;
  color: #161616;
  border: 1px solid #E0E0DF;
  @media (max-width: 768px) {
    margin: 30px 0 0 0;
  }
  th {
    text-align: center;
    border: 1px solid #E0E0DF;
    height: 60px;
    vertical-align: middle;
    color: white;
    @media (max-width: 768px) {
      font-size: 11.75px;
    }
  }
  tr.top-row {
    background-color: #28A4DB;
  }
  td {
    border: 1px solid #c7c7c7;
    text-align: center;
    height: 60px;
    vertical-align: middle;
    @media (max-width: 768px) {
      font-size: 11.75px;
    }
  }
  td.join-row {
    height: 60px;
    background-color: #28A4DB;
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}

hr.dividing-line {
  margin: 0 120px;

  @media (max-width: 768px) {
    margin: 0 30px;
  }
}

.summit-previous {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  span {
    display: inline-block;
  }
  .title {
    font-family: "Jura";
    font-weight: bold;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.6px;
    color: #161616;
    margin-bottom: 40px;
  }
  .summits {
    display: flex;
    justify-content: space-evenly;
    > div {
      &:first-child {
        margin-right: 40px;
      }
      &:last-child {
        margin-left: 40px;
      }
    }
    .summit-wrapper {
      display: flex;
      flex-direction: column;
      img {
        border-radius: 15px;
      }
      .location {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 25px;
        line-height: 36px;
        color: #161616;
        margin-top: 20px;
      }
      .date {
        font-family: "Roboto";
        font-weight: normal;
        font-size: 20px;
        line-height: 36px;
        color: #161616;
      }
      .summit-cta {
        margin-top: 20px;
        display: flex;
        width: 180px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 30px 13px;
        border: 2px solid #848484;
        box-sizing: border-box;
        border-radius: 37px;
        height: 40px;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 12px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #848484;
        flex: none;
        order: 0;
        flex-grow: 0;
        img {
          margin-left: 10px;
          filter: invert(61%) sepia(5%) saturate(90%) hue-rotate(315deg)
            brightness(84%) contrast(86%);
        }
        &:hover {
          color: #fff;
          background-color: #848484;
          border-color: #848484;
          img {
            filter: none;
          }
        }
      }
    }
  }
}

.summit-video {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  background: #f3f3f3;
  align-items: center;
  .title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 25px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #161616;
    margin-bottom: 0;
  }
  .video-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px 13px;
    height: 44px;
    background: #e61e24;
    border-radius: 37px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    &:hover {
      background-color: #9a0c28;
      border-color: #9a0c28;
    }
    img {
      margin-left: 10px;
    }
  }
}

.summit-sponsorships {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    display: inline-block;
  }
  .title {
    font-family: "Jura";
    font-weight: bold;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.6px;
    color: #161616;
    margin-bottom: 36px;
  }
  .text {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161616;
    opacity: 0.8;
    margin-bottom: 50px;
  }
  .sponsorship-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px 13px;
    height: 44px;
    width: 250px;
    background: #e61e24;
    border-radius: 37px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px 45px;
    &:hover {
      background-color: #9a0c28;
      border-color: #9a0c28;
    }
    img {
      margin-left: 10px;
    }
  }
  .sponsors-slide {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    .sponsors-gradient {
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        90deg,
        white 0%,
        rgba(196, 196, 196, 0) 16.48%,
        rgba(196, 196, 196, 0) 81.56%,
        white 100%
      );
      height: 100%;
      width: 100%;
      z-index: 10;
    }
    img {
      max-width: 150px;
      margin-left: 15px;
      &:last-of-type {
        margin-left: 0;
      }
    }
  }
  .sponsors-previous {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #161616;
    margin-top: 15px;
    &:hover,
    &:active,
    &:active {
      color: #161616;
    }
  }
}

@media screen and (max-width: 768px) {
  .summit-header {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 30px 0;
    .header-right {
      width: 100%;
      padding: 0;
      margin-bottom: 30px;
      .hero-video {
        display: flex;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
      }
      .hero-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .header-left {
      width: 100%;
      .title {
        font-size: 30px;
        line-height: 36px;
      }
      .location,
      .date {
        font-size: 22px;
      }
    }
  }

  .summit-form {
    padding: 50px 30px 0;
    margin-bottom: 30px;
    .summit-form-container {
      padding: 30px;
    }
    .title-desktop {
      display: none;
    }
    .form-columns {
      flex-direction: column;
      .form-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 0px;
        .title-mobile {
          margin-top: 35px;
          display: inline-block;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          color: #ffffff;
        }
      }
      .form-right {
        margin-top: 25px;
        width: 100%;
        padding-left: 0px;
        div {
          display: flex;
          align-items: center;
          &:first-of-type {
            flex-direction: column;
            .form-input {
              display: inline-block;
              width: 100%;
              &:first-of-type {
                margin-bottom: 30px;
              }
            }
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .summit-topics {
    padding: 50px 30px 0;
    .title {
      font-size: 30px;
      line-height: 36px;
    }
  }

  .summit-previous {
    padding: 50px 30px 0;
    .title {
      font-size: 30px;
      line-height: 36px;
    }
    .summits {
      flex-direction: column;
      > div {
        &:first-child {
          margin-right: 0px;
        }
        &:last-child {
          margin-left: 0px;
        }
      }
      .summit-wrapper {
        margin-bottom: 60px;
        .location {
          margin-bottom: 10px;
        }
      }
    }
  }
  .summit-video {
    padding: 60px 30px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .title {
      margin-bottom: 20px;
      line-height: 30px;
    }
  }

  .summit-sponsorships {
    padding: 40px 30px 50px;
    .title {
      font-size: 30px;
      line-height: 36px;
    }
    .sponsors-slide {
      overflow: hidden;
    }
    .sponsors-previous {
      font-size: 12px;
    }
  }
}

.travel-support {
  display: flex;
  flex-direction: row;
  margin: 60px 0 0 0;
  padding: 0 120px 60px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 30px 0;
  }

  .text {
    width: 50%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      order: 2;
      width: 100%;
      margin-right: unset;
    }

    .title {
      font-family: "Jura";
      font-weight: bold;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: -0.6px;
      color: #161616;

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    .description {
      font-family: "Roboto";
      font-size: 20px;
      line-height: 30px;
      color: #161616;
      opacity: 0.8;
    }
    .links-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .summit-cta {
      width: 180px;
      padding: 12px 12px 13px;
      margin: 30px 15px 0 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 2px solid #848484;
      box-sizing: border-box;
      border-radius: 37px;
      height: 40px;
      font-family: "Roboto";
      font-weight: bold;
      font-size: 12px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.3px;
      color: #848484;
      flex: none;
      order: 0;
      flex-grow: 0;

      @media (max-width: 1095px) {
        width: fit-content;
        padding: 12px 12px 13px;
        margin: 30px 10px 0 0;
      }

      img {
        margin-left: 10px;
        filter: invert(61%) sepia(5%) saturate(90%) hue-rotate(315deg)
          brightness(84%) contrast(86%);
      }
      &:hover {
        color: #fff;
        background-color: #848484;
        border-color: #848484;
        img {
          filter: none;
        }
      }
    }
  }
  .picture {
    width: 50%;
    margin-left: 30px;
    border-radius: 15px;

    @media (max-width: 768px) {
      order: 1;
      width: 100%;
      margin: 0 0 30px 0;
    }
    img {
      border-radius: 15px;
    }
  }
}
.sponsor-steps {
  margin: 60px 0 0 0;
  padding: 60px 120px 60px 120px;
  background-color: #f3f3f3;
  p {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 23px;
    color: #161616;
    opacity: 0.8;
    margin-bottom: 24px;
    strong {
      color: black;
    }
  }
  .step-single {
    margin-bottom: 3rem;
    h5 {
      font-size: 20px;
      color: black;
      text-transform: none;
    }
    p {
      font-family: "Roboto";
      font-size: 16px;
      line-height: 23px;
      color: #161616;
      opacity: 0.8;
      margin-bottom: 24px;
      strong {
        color: black;
      }
    }
  }
}
.button-cta {
  width: fit-content;
  margin: 15px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 30px 13px;
  height: 44px;
  background: #e61e24;
  border-radius: 37px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: auto;
  &.outline {
    background-color: transparent;
    color: #888888;;
    border: 2px solid #888888;;
    &:hover {
      background-color: #888888;;
      border-color: #888888;;
      color: white;
    }
  }
  &:hover {
    background-color: #9a0c28;
    border-color: #9a0c28;
    color: white;
  }
  img {
    margin-left: 10px;
  }
  @media (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.sponsor-logos {
  .logos {
    display: flex;
    justify-content: center;
    img.headline {
      text-align: center;
      margin-top: 15px;
      width: 65%;
      max-width: 400px;
    }
  }
}


h5.sponsorship-contact {
  text-align: center;
  font-size: 20px;
  color: black;
  text-transform: none;
  }

.contact-description {
  color: #161616;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

h3.small-title-summit {
  padding: 60px 0 15px 0;
  text-transform: uppercase;
  color: $gray;
  text-align: center;
  font-size: 1em;
}