.ptg-header {
  flex-wrap: wrap;
  font-family: Roboto, sans-serif;

  .header-right {
    flex: 1;

    .upper-title {
      font-family: Jura, sans-serif;
      color: black;
      font-weight: 500;
      font-size: 45px;
      line-height: 48px;
      margin-bottom: 30px;
    }

    .description {
      font-size: 20px;
      line-height: 30px;
    }

    .ptg-header-bottom-text {
      color: #161616;
      font-weight: bold;
      display: inline-block;
      font-size: 13px;
      width: 100%;
      margin-top: 30px;
    }

    .buttons {
      margin-top: 14px;
      a:last-of-type {
        width: 198px;
        img {
          filter: invert(61%) sepia(5%) saturate(90%) hue-rotate(315deg)
              brightness(84%) contrast(86%);
        }
      }
    }
  }

  .header-left {
    flex: 1;
    .picture {
      img {
        max-height: 450px;
        width: auto;
        z-index: 1;

        @media (max-width: 767px) {
          max-height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ptg-header {
    flex-direction: column;
    .header-right {
      order: 2;
    }
    .header-left {
      order: 1;
    }
    .ptg-header-bottom {
      order: 3;
    }
  }
}

.ptg-who {
  background: #F3F3F3;
  padding: 60px 120px;
  color: black;
  position: relative;
  @media (max-width: 767px) {
    padding: 3rem 20px;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .ptg-who-teams {
    margin-bottom: 70px;
    .title {
      font-size: 28px;
      font-weight: 800;
      font-family: "Jura", "Roboto", sans-serif;
      margin-top: 26px;
      text-transform: none;
    }
    .ptg-who-teams-list {
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        li {
          width: 25%;
        }
        @media screen and (max-width: 1100px) {
          flex-basis: 100%;
          li {
            width: 50%;
          }
        }
        @media screen and (max-width: 560px) {
          flex-basis: 100%;
          li {
            width: 100%;
          }
        }
      }
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      justify-content: space-between;
      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        // @media screen and (max-width: 1100px) and (min-width: 561px) {
        //   &:nth-child(1) {
        //     order: 1;
        //     flex-basis: 60%;
        //   }
        //   &:nth-child(2) {
        //     order: 3;
        //     flex-basis: 60%;
        //   }
        //   &:nth-child(3) {
        //     order: 2;
        //     flex-basis: 40%;

        //   }
        //   &:nth-child(4) {
        //     order: 4;
        //     flex-basis: 40%;
        //   }
        // }
        li {
          text-decoration: none;
          margin: 0 0 15px 0;
        }
      }
    }
  }
  .ptg-who-boxes {
    display: flex;
    flex-direction: row;
    color: black;
    gap: 3rem;
    @media screen and (max-width: 768px) {
      display: block;
    }
    .should {
      @media screen and (max-width: 768px) {
        margin-bottom: 3rem;
      }
    }
  }
  .should, .shouldnot {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex: 1 0 50%;
    background: white;
    padding: 3rem;
    border-radius: 8px;
    .top {
      border-bottom: 3px solid black;
      margin: 0 0 3rem;
      padding-bottom: 2rem;
      h4 {
        margin-top: 0;
        font-size: 28px;
        font-weight: 800;
        font-family: "Jura", "Roboto", sans-serif;
        text-transform: none;
        img {
          height: 25px;
          margin-right: 2rem;
        }
      }
    }
    h5 {
      margin-top: 0;
    }
  }
  .should {
    .top {
      border-color: #45B65C;
      h4 {
        color: #45B65C;
      }
    }
  }
  .shouldnot {
    .top {
      border-color: #EC3830;
      h4 {
        color: #EC3830;
      }
    }
  }
  .multi-color-border {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.summit-form-container.ptg {
  .title-desktop {
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .description {
    margin-bottom: 2rem;
    @media (max-width: 768px) {
      text-align: center;
    }
    a {
      color: white;
      text-decoration: underline;
    }
  }
  @media (min-width: 768px) {
    .description-mobile {
      display: none;
    }
  }
}

.subnav-bar .subnav-dropdown .links-list li a.active {
  color: #222;
  opacity: 1;
}

.ptg-header.buttons a:last-of-type img {
  filter: none;
}

.ptg-container {
  @media screen and (min-width: 1400px) {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.ptg-header {
  @media screen and (min-width: 1400px) {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.summit-form-container.ptg {
  @media screen and (min-width: 1400px) {
    max-width: 1170px;
    margin: 0 auto;
  } 
}

.subnav-bar-ptg {
  .subnav-dropdown .links-list li a {
    opacity: 1;
  }
  #links-list {
    .link.registration {
      padding: 5px 15px;
    }
  }
  #ptg-registration-link {
    background-color: #161616;
    opacity: 1;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
  }
  .link-dropdown-option {
    background-color: #f3f3f3 !important;
  }
  .link-dropdown.registration {
    width: auto !important;
    padding-bottom: 0 !important;
  }

  .container .links-list li .dropdown-options {
    right: -10px;
    left: unset;
    top: 22px;
  }
}
