.user-survey {
  &-about {
    padding: 50px 11vw;
    margin-top: 40px;
    color: #121212;
    line-height: 30px;
    display: flex;
    background: #f3f3f3;
    .about-image {
      img {
        border-radius: 10px;
        width: 227px;
        height: 227px;
        object-fit: cover;
      }
    }
    .about-text {
      width: 70%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
    }
  }
  &-abstract {
    color: #121212;
    padding: 0px 11vw;
    display: flex;
    flex-direction: column;
    ul {
      list-style-type: revert;
    }
    .survey-image {
      margin: 60px 0 55px;
      align-self: center;
      width: 226px;
      height: auto;
      text-align: center;
    }
    .survey-text {
      font-weight: normal;
      font-size: 17px;
      line-height: 30px;
    }
    .survey-button {
      margin: 60px 0 55px;
      background: #e61e24;
      border-radius: 37px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 30px 13px;
      font-weight: bold;
      font-size: 12px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.3px;
      color: #ffffff;
      border: none;
      width: 288px;
      &:hover {
        background-color: #9a0c28;
        border-color: #9a0c28;
      }
      img {
        margin-left: 10px;
      }
    }
    hr {
      margin: 0;
    }
  }
}
