@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/form/_all.sass";

@import "../modules/variables";

.fullProfile {
  align-items: flex-start;

  > div {
    &:nth-of-type(2) {
      padding: 0;
    }

    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }

  .pictureContainer {
    border: 0.5px solid #000;
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    button {
      border: none;
      background: none;
    }
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      margin: 15px 0;
      font-weight: bold;
    }
  }

  .profilePicture {
    display: flex;
    justify-content: center;
    position: relative;

    img {
      cursor: pointer;
      height: 100%;
      width: 100%;
      max-height: 200px;
      max-width: 200px;
      border-radius: 10px;
      object-fit: contain;
    }
  }

  .imageUpload {
    position: absolute;
    bottom: 5px;
    left: 56%;

    .pictureIcon {
      color: #ffffff;
      z-index: 10;
      cursor: pointer;
    }
  }

  .formContainer {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 0px 20px 10px;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    .header {
      font-size: 18px;
      line-height: 22px;
      color: $primary-blue;
      font-weight: bold;
      margin: 0 -20px;
      padding: 10px 15px;
      width: calc(100% + 40px);
      border-bottom: 1px solid #d3d3d3;
      border-top: 1px solid #d3d3d3;
    }

    .form {
      .inputRow {
        margin: 15px 0;

        .inputField {
          display: flex;
          flex-direction: column;

          input,
          select {
            font-size: 14px;
            height: 42px;
            width: 100%;
            border: 0.5px solid black;
            background-color: unset;
            color: black;
            padding: 0 0 0 10px;
            border-radius: 0;
            &.disabled {
              background-color: #eee;
            }
          }

          b {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 5px;
          }

          .select {
            display: flex;

            select {
              width: 100%;
            }
            &::after {
              margin-top: -0.1375em;
              border-width: 2px;
              border-color: #b5b5b5;
            }
          }

          .checkbox {
            display: flex;
            align-items: center;
            input[type="checkbox"] {
              width: auto;
              height: 18px;
              margin-right: 5px;
              vertical-align: middle;
            }
          }

          .textarea {
            font-size: 14px;
            border: 0.5px solid black;
            background-color: unset;
            color: black;
            padding: 10px;
            border-radius: 0;
          }

          .datepicker {
            input {
              width: 100%;
              border: 1px solid #dbdbdb;
              color: #363636;
              padding-bottom: calc(0.5em - 1px);
              padding-left: calc(0.75em - 1px);
              padding-right: calc(0.75em - 1px);
              padding-top: calc(0.5em - 1px);
              &:hover {
                border-color: #ccc;
              }
            }
          }

          .dropdown {
            border: 0.5px solid black;
            font-size: 14px;
            height: 42px;
            width: 100%;
            background-color: unset;
            color: black;
            &:active {
              border: none;
            }
            > div {
              width: 100%;
              height: 3rem;
              font-size: 14px;
              border: none;
              &:nth-child(3) {
                height: 250px;
              }
              > div {
                height: 100%;
              }
            }
          }
        }
      }
    }

    .buttons {
      margin: 15px 0;

      div {
        button {
          width: 100%;
          height: 5.5rem;
        }

        &:last-of-type {
          button {
            color: #ffffff;
            border-color: #ffffff;
            background-color: $primary;
          }
        }
      }
    }
  }
}

.programWrapper {
  padding: 0.75rem;
  .programList {
    list-style: none !important;
    columns: 200px 3;
    li {
      padding-left: 20px;
      margin: 10px 0;
      display: flex;
      input {
        margin-right: 5px;
        margin-left: -20px;
      }
      label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .fullProfile {
    align-items: flex-start;
    padding: 0 0.5em;

    > div {
      padding: 0;
      margin-top: 20px;
    }

    .imageUpload {
      position: absolute;
      bottom: 5%;
      left: 70%;
    }

    .formContainer {
      .form {
        .inputRow {
          margin: 15px 0;
          flex-direction: column;

          .inputField {
            width: 100%;
          }
        }
      }
      .buttons {
        flex-direction: column;
        div {
          width: 100% !important;
          button {
            width: 80%;
            min-width: 180px;
          }
        }
      }
    }
  }
}
