.footer.is-dark.footer-v2 {
    background-color: #272727;
    padding-bottom: 0;
    position: relative;
    .footer-v2-bottom-bar {
        position: absolute;
        width: 100%;
        height: 10px;
        bottom: 0;
        display: flex;
        .footer-v2-bar {
            width: 25%;
        }
        .footer-v2-bar-1 {
            background-color: #E61E24;
        }
        .footer-v2-bar-2 {
            background-color: #F4A93A;
        }
        .footer-v2-bar-3 {
            background-color: #28A4DB;
        }
        .footer-v2-bar-4 {
            background-color: #39AE4A;
        }
    }
}
.footer-container-v2 {
    padding: 0 50px 50px 50px;
    max-width: 1450px;
    margin: 0 auto;
    .footer-sections-v2 {
        @media screen and (min-width: 450px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer-section {
                width: 50%;
                &.footer-section-last {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .footer-section-last-divider {
                        width: 50%;
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            .footer-section {
                width: 33.3%;
                justify-content: flex-start;
                &.footer-section-last {
                    width: 33.3%;
                    display: block;
                    .footer-section-last-divider {
                        width: 100%;
                    }
                }
            }
        }
        @media screen and (min-width: 850px) {
            .footer-section {
                width: 20%;
                justify-content: space-between;
                &.footer-section-last {
                    width: 20%;
                }
            }
        }
        .footer-section {
            h6 {
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                color: #888888;
                font-size: 14px;
                margin: 16px 0;
            }
            ul {
                line-height: 32.5px;
                padding-left: 0;
                font-family: 'Roboto Flex', sans-serif;
                font-weight: 400;
                a {
                    color: #E0E0DF;
                    &:hover {
                        color: #E0E0DF;
                    }
                }
            }
        }
    }
    .footer-v2-lower {
        .footer-v2-social {
            margin-top: 50px;
            ul {
                display: flex;
                justify-content: center;
                padding-left: 0;
                @media screen and (min-width: 768px) {
                    justify-content: flex-end;
                }
                li {
                    width: 24px;
                    margin-left: 20px;
                    margin-right: 20px;
                    @media screen and (min-width: 768px) {
                        margin-right: 30px;
                        margin-left: 0;
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            .footer-v2-social {
                width: 50%;
                margin-top: 0;
            }
            .nav-brand {
                width: 50%;
                .logo-containter {
                    justify-content: left;
                }
            }
        }
    }
    .footer-bug {
        font-family: 'Roboto Flex', sans-serif;
        color: #888888;
        a {
            color: #E61E24;
        }
    }
}