.openinfra-days-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 120px;

  .title {
    color: #000;
    text-align: center;
    font-family: Jura;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 106.667% */
    margin-bottom: 50px;

    @media (max-width: 720px) {
      font-size: 40px;
    }
  }

  .openinfra-days-cards {
    display: flex;
    flex-wrap: wrap;    
    gap: 28px 24px;
    justify-content: center;
  }
}

/* ------------------------------------------------------------ *\
	Banner
\* ------------------------------------------------------------ */

.openinfra-days-banner {
  margin-bottom: 40px;
  .container {
    background-color: #eeeeee;
    border-radius: 16px;
    height: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;

    .body {
      margin: 55px 50px;
      text-align: center;
      font-size: 18px;
      line-height: 150%;
      font-family: "Roboto Flex", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #161616;

      .title {
        text-transform: uppercase;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        font-size: 44px;
        line-height: 110%;
        text-transform: uppercase;
        margin: 30px 0;

        @media (max-width: 768px) {
          font-size: 40px;
          line-height: 50px;
        }        
      }

      p {
        max-width: 840px;
        margin-bottom: 45px;
      }
    }

    .button {
      background-color: #e61e24;
      display: inline-flex;
      color: #ffffff;
      font-family: "Jura", sans-serif;
      font-size: 18px;
      line-height: 135%;
      font-weight: 700;
      border-radius: 40px;
      letter-spacing: 0.9px;
      height: 72px;
      padding: 0 66px;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      text-transform: uppercase;
      border: none;
      margin-top: 22px;
      .btn-arrow {
        position: relative;
        right: 15px;
        &:after {
          background-image: url("/img/homeV2/secondary-arrow-white.svg");
          position: absolute;
          content: "";
          right: -30px;
          height: 30px;
          width: 30px;
          top: -6px;
          transform: rotate(90deg);
        }
      }
      &:hover,
      &:focus {
        text-decoration: none;
        color: #ffffff;
      }
      @media (max-width: 768px) {
        height: auto;
        width: auto;
        padding: 15px 30px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}
