.wrapper {
  display: flex;
  position: relative;
  margin-top: 30px;

  i {
    padding: 0;
  }

  @media (max-width: 991px) {
    flex-direction: column-reverse;
    &.showFilters {
      .scheduleWrapper {
        display: none;
      }

      .filterWrapper {
        display: block;
      }
    }
  }

  .scheduleWrapper {
    width: 70%;

    // make up space for button
    @media (max-width: 991px) {
      width: 100%;
      height: 100% !important;

      :global(#event-info-popup) {
        z-index: 3;
        top: 72px !important;
        height: calc(100vh - 72px);
      }
    }
  }

  .filterWrapper {
    position: relative;
    margin: 15px 0 0 30px;
    width: 30%;

    @media (min-width: 991px) {
      position: sticky;
      top: 20px;
      height: calc(100vh - 20px) !important;
      overflow-y: scroll;
      scroll-behavior: smooth;
      // hide scrollbars
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (max-width: 991px) {
      flex: unset;
      display: none;
      width: 100%;
      z-index: 1;
      background-color: white;
      padding-top: 70px;
      margin: 0;
    }
  }
}
