/* ------------------------------------------------------------ *\
    Bulma Styles
\* ------------------------------------------------------------ */

@import "./bulma/sass/utilities/_all";
@import "./modules/variables";
@import "./bulma";
@import "./bulma/sass/components/_all";
@import "./bulma/sass/elements/_all";
// @import "~buefy/src/scss/buefy";

/* ------------------------------------------------------------ *\
    Modules
\* ------------------------------------------------------------ */

@import "./modules/base";
@import "./modules/form-elements";
@import "./modules/container";
@import "./modules/wrapper";
@import "./modules/main";
@import "./modules/content";
@import "./modules/sidebar";
@import "./modules/header";
@import "./modules/bar";
@import "./modules/btn";
@import "./modules/link";
@import "./modules/nav";
@import "./modules/hero";
@import "./modules/section";
@import "./modules/list";
@import "./modules/box";
@import "./modules/footer";
@import "./modules/form";
@import "./modules/widget";
// @import "./modules/pagination";
@import "./modules/default-page";
@import "./modules/search";
@import "./modules/carousel";
@import "./modules/membership-type";
@import "./modules/affiliations";
@import "./modules/profile_form";
@import "/modules/careers";
@import "./modules/basestructure";
@import "./modules/home";
@import "./modules/projects";
@import "./modules/about";
@import "./modules/blog";
@import "./modules/press";
@import "./modules/aboutstaff";
@import "./modules/companies";
@import "./modules/openinfralive";
@import "./modules/join";
@import "./modules/join-individual";
@import "./modules/members";
@import "./modules/livekeynotes";
@import "./modules/summit";
@import "./modules/ideas-banner";
@import "./modules/keynotes-promo-banner";
@import "./modules/contact-form";
@import "./modules/social-links";
@import "./modules/user-survey";
@import "./modules/hybrid-cloud";
@import "./modules/member-list";
@import "./modules/member-profile";
@import "./modules/election";
@import "./modules/contributors";
@import "./modules/logo-banner";
@import "./modules/subnav";

@import "./font-awesome/css/font-awesome.min.css";

/*
* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0px;
  padding: 30px;
  width: 100%;
  max-width: unset;
}

section {
  margin: 0px;
  padding: 30px;
  width: 100%;
  max-width: unset;
}*/

.btn {
  height: 42px;
}

.company-profile-logo {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  img {
    width: 300px;
  }
}

.company-profile-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  a {
    color: $primary;
  }
}

.validation_error {
  color: red !important;
  font-size: smaller !important;
  margin: 0 !important;
}

.pagination-list {
  li {
    &::before {
      content: "";
    }
    &::marker {
      content: "";
    }
  }
}

.navigator-wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  .navigator-bar {
    background-color: #121212;
    color: #ffffff;
    padding: 0 11vw;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigator-section {
      cursor: pointer;
      font-size: 14px;
      line-height: 30px;
      font-weight: bold;
      i {
        margin-left: 10px;
      }
    }
    .navigator-icons {
      font-size: 14px;
      line-height: 30px;
      i {
        cursor: pointer;
        &:first-of-type {
          margin-right: 30px;
        }
      }
    }
  }
  .navigator-dropdown {
    background: #121212;
    opacity: 0.94;
    padding: 0 11vw;
    div {
      cursor: pointer;
      padding: 4px 0;
      font-size: 14px;
      line-height: 30px;
      border-bottom: 1px solid #303030;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

.go-top-button {
  background: #121212;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
  z-index: 100;
  cursor: pointer;
  i {
    font-weight: bold;
    font-size: 14px;
  }
  &:hover {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
  }
}

.schedule-banner {
  margin: 25px 0;
  background-color: #121212;
  color: #ffffff;
  border-radius: 15px;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 992px) {
    display: none;
  }
  img {
    padding: 0 25%;
    margin-bottom: 30px;
  }
  span {
    display: inline-block;
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    b {
      font-size: 22px;
    }
  }
  button {
    width: fit-content;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px 13px;
    height: 44px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 37px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    a,
    a:hover {
      color: #ffffff;
      text-decoration: none;
      img {
        margin-left: 5px;
        padding: 0;
        margin-bottom: 0;
      }
    }
  }
}

.register-now-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #121212;
  padding: 12px 20px;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
  .logo {
    height: 35px;
    width: 35px;
  }
  .arrow {
    height: 30px;
    width: 30px;
  }
  > div {
    display: flex;
    flex-direction: column;
    span {
      display: inline-block;
      text-align: left;
      font-size: 15px;
      b {
        font-size: 17px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .go-top-button {
    bottom: 30px;
    right: 30px;
  }
}
