.more-events-section-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;

  @media (min-width: 720px) {
  }

  @media (min-width: 1024px) {
  }

  .title {
    font-family: "Jura", "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin: 20px 0 40px;

    @media (min-width: 720px) {
      font-size: 36px;
    }

    @media (min-width: 1024px) {
      font-size: 45px;
    }
  }

  .more-agenda-list {
    border-radius: 0 16px 16px 0;
    overflow: hidden;
    max-width: 946px;
    width: 100%;
    margin-top: 40px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;

    .agenda-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-left: 10px solid black;
      color: black;
      width: 100%;
      height: 82px;

      &:not(:last-child) {
        border-bottom: 1px solid #888888;
      }

      .agenda-name {
        width: 50%;
        margin-top: 0;
        text-transform: uppercase;
        text-align: left;
        font-weight: bold;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 12px;
        padding-left: 20px;

        a {
          color: black;
          text-decoration: underline;
          &:hover {
            color: black;
          }
        }

        @media (min-width: 720px) {
          font-size: 16px;
        }

        @media (min-width: 1024px) {
          font-size: 18px;
        }
      }
      .agenda-date, .agenda-location {
        width: 25%;
        text-align: left;
        margin: 0 0 8px 0;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 12px;
        position: relative;
        padding-left: 36px;
        display: flex;
        align-items: center;

        @media (min-width: 720px) {
          font-size: 16px;
        }

        @media (min-width: 1024px) {
          font-size: 18px;
        }

        img {
          position: absolute;
          left: 0;
        }
      }
    }

  }

}
