.summit-card-wrapper {
  display: flex;
  flex-direction: column;
  color: #000000;
  width: 100%;
  max-width: 946px;
  margin: 0 auto 55px;

  @media (max-width: 767px) {
    padding: 0 10px;
  }

  .summit-card-image {
    height: 287px;
    background-color: #161616;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px 16px 0 0;
    @media (max-width: 767px) {
      height: 187px;
      background-size: contain;
    }
  }
  .summit-card-info {
    min-height: 73px;
    background-color: #f1f1f1;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: -2%;
    font-family: "Roboto Flex", sans-serif;
    align-items: center;

    @media (max-width: 767px) {
      font-size: 14px;
    }

    .summit-card-info-wrapper {
      display: inline-flex;
      padding: 28px 30px 0;
      flex-wrap: wrap;

      span {
        padding-bottom: 21px;
      }
    }

    span:first-of-type {
      font-size: 20px;
      margin-right: 25px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    img {
      padding-right: 10px;
      display: inline-block;
    }
    &.no-notification {
      border-radius: 0 0 16px 16px;
    }
  }
  .summit-card-notification {
    min-height: 73px;
    font-size: 20px;
    line-height: 135%;
    font-family: "Roboto Flex", sans-serif;
    display: inline-flex;
    color: #ffff;
    background-color: #ed362f;
    border-radius: 0 0 16px 16px;
    align-items: center;
    padding: 13px 17px 12px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  .summit-card-button {
    display: inline-flex;
    background-color: #ed362f;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
    line-height: 135%;
    border-radius: 40px;
    height: 48px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 180px;
    transition: all 0.3s;        
    &:hover, &:focus {
      text-decoration: none;
      background-color: #9a0d28;
      border: 1px solid #9a0d28;
    }
    @media (max-width: 767px) {
      height: 42px;
      width: 160px;
    }
  }
}
