.home-v2-quotes-container .slick-center .home-v2-quote-text,
.home-v2-quotes-container .slick-center .home-v2-quote-name,
.home-v2-quotes-container .slick-center .home-v2-quote-title,
.home-v2-quotes-container .slick-center img {
    opacity: 1 !important;
}

.home-v2-quotes-container .slick-center .home-v2-quote {
    box-shadow: 3px 25px 40px -3px rgba(0,0,0,.25);
}

.home-v2-quotes-container .slick-list {
    padding-bottom: 65px !important;
}

.home-v2-projects-container .slick-list {
    padding-bottom: 65px !important;
}

.home-v2-projects-container .slick-center .home-v2-project {
    box-shadow: 3px 25px 40px -3px rgba(0,0,0,.25);
}

.home-v2-projects-container .slick-center .home-v2-project {
    background-color: #fff !important;
}

.home-v2-projects-container .slick-track {
    left: -12.5%;
}

@media screen and (max-width: 991px) {
    .home-v2-projects-container .slick-track {
        left: -25%;
    }
}

@media screen and (max-width: 767px) {
    .home-v2-projects-container .slick-track {
        left: 0px;
    }
}

.home-v2-gold-container-offset .slick-track {
    left: 9% !important;
}

@media screen and (max-width: 991px) {
    .home-v2-gold-container-offset .slick-track {
        left: 14% !important;
    }
}

@media screen and (max-width: 767px) {
    .home-v2-gold-container-offset .slick-track {
        left: 18% !important;
    }
}

@media screen and (max-width: 475px) {
    .home-v2-gold-container-offset .slick-track {
        left: 27% !important;
    }
}

.home-v2-platinum-container-offset .slick-track {
    left: 16% !important;
}

@media screen and (max-width: 767px) {
    .home-v2-platinum-container-offset .slick-track {
        left: 25% !important;
    }
}

.hero-slider-container .slick-list {
    overflow: visible !important;
}