.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 180px;
  background-color: #000;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;

  @media (min-width: 767px) {
    flex-direction: row;
  }

  img {
    width: 60px;
  }

  span {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px 13px;
    background: #e61e24;
    border-radius: 37px;
    font-weight: bold;
    height: 44px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;

    &:hover {
      background-color: #9a0c28;
      border-color: #9a0c28;
    }
  }
}
