.middle-banner-wrapper {
  margin-bottom: 70px;
  .middle-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 350px;    
    .middle-banner-content {
      display: flex;      
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      gap: 50px;
      color: #161616;      
      &.reverse {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
      div {
        width: 50%;
        grid-area: div;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        .middle-banner-text {
          display: inline-flex;
          flex-direction: column;
          span {
            color: #161616;
            font-family: "Roboto Flex", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            a {
              color: #161616;
              text-decoration: underline;
            }
            &.title {
              color: #161616;
              font-family: "Roboto Condensed", sans-serif;
              text-transform: uppercase;
              font-size: 36px;
              font-style: normal;
              font-weight: 700;
              line-height: 110%; /* 39.6px */
              text-transform: uppercase;
              margin-bottom: 24px;
            }
          }
        }
        .middle-banner-button {
          display: inline-flex;
          border-radius: 30px;
          border: 1.5px solid #888;
          background: #fff;
          color: #888888;
          font-family: "Roboto Flex", sans-serif;
          font-size: 12px;
          line-height: 135%;
          font-weight: 500;
          height: 48px;
          padding: 0 51px;
          align-content: center;
          flex-wrap: wrap;
          justify-content: center;
          text-transform: capitalize;
          margin-bottom: 22px;
          width: fit-content;
          .btn-arrow {
            position: relative;
            right: 15px;
            &:after {
              background-image: url("/img/homeV2/secondary-arrow-white.svg");
              filter: invert(57%) sepia(0%) saturate(2098%) hue-rotate(4deg)
                brightness(94%) contrast(84%);
              position: absolute;
              content: "";
              right: -25px;
              height: 30px;
              width: 30px;
              top: -5px;
            }
          }
          &:hover,
          &:focus {
            text-decoration: none;
          }          
        }
      }
      @media (max-width: 991px) {
        flex-direction: column;
        gap: 0px;
        div {
          width: 100%;
        }
        span {
          font-size: 16px;
          line-height: 135%;
          letter-spacing: 1px;
        }
        &.reverse {
          flex-direction: column;
          justify-content: flex-end;
        }
        .middle-banner-text {
          margin-bottom: 30px;
        }
        .middle-banner-button {
          height: auto;
          padding: 15px 30px;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
